.App {
  /* text-align: center; */
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.lesson-page-header {
  display: inline;
}

.lesson-box,
.exercise-box {
  padding: 5px;
  margin: 5px 5px;
}

.login-box,
.register-box {
  text-align: center;
  padding: 20px 40px;
  margin: 0 auto;
  border: 2px solid rgb(93, 92, 92);
  border-radius: 20px;
  width: 50%;
}
.new-lesson-box {
  text-align: center;
}

.login-form,
.register-form,
.lesson-form {
  margin: 0 auto;
  width: 75%;
}

.snippet-txt {
  border: 1px solid rgb(0, 0, 0);
  background-color: black;
  color: green;
  width: 400px;
  height: 400px;
}
.typing-box {
  background: rgb(62, 62, 62);
  color: rgb(255, 255, 255);
  width: 400px;
  height: 400px;
}
.nav-bar {
  background: rgb(33, 37, 41);
  padding: 20px;
  margin: 0px 0px 25px 0px;
}

nav {
  display: flex;
  justify-content: space-between;
}

.fa-plus {
  color: #007bff;
  padding: 9px;
}

.title-buttons {
  display: flex;
}

.lesson-page-header,
.exercise-page-header {
  display: flex;
  margin: 0 0 15px;
  justify-content: center;
}

.fa-edit {
  color: rgb(33, 37, 41);
  padding: 0 5px;
}

.fa-trash {
  color: rgb(221, 41, 41);
}
.edit-delete {
  margin: 7px 15px;
}
a,
a:visited,
a:hover {
  color: #007bff;
  text-decoration: none;
}
h4 {
  padding: 0 0 25px 0;
}
