.App {
  text-align: center;
  height: auto;
}
.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} 

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
  
}
/* body {
  background-image: url('https://imgur.com/NLGbv2T.jpg');
  background-size: cover;
  
} */

.lesson-page-header {
  display: inline;
}

.lesson-box,
.exercise-box {
  padding: 5px;
  margin: 5px 5px;
  text-align: left;
}

.login-box,
.register-box {
  background: rgb(131, 127, 127);
  text-align: center;
  padding: 20px 40px;
  margin: 0 auto;
  border: 2px solid rgb(93, 92, 92);
  border-radius: 20px;
  width: 40%;
}

.new-lesson-box,
.new-exercise-box,
.edit-lesson-box,
.edit-exercise-box {
  margin: 0 auto;
  text-align: center;
  width: 75%;
}

.login-form,
.register-form {
  margin: 0 auto;
  width: 85%;
}

.lesson-form,
.exercise-form,
.edit-lesson-form,
.edit-exercise-form {
  margin: 0 auto;
  width: 50%;
}

.nav-bar {
  background: rgb(33, 37, 41);
  padding: 20px;
  margin: 0px 0px 10px 0px;
}
.logo {
  color: #007bff;
  font-size: 35px;
  
}
nav {
  display: flex;
  justify-content: space-between;
}

.fa-plus {
  color: #007bff;
  padding: 9px;
}

.title-buttons {
  display: flex;
}

.lesson-page-header,
.exercise-page-header {
  display: flex;
  margin: 0 0 15px;
  justify-content: center;
}

.fa-edit {
  color: rgb(33, 37, 41);
  padding: 0 5px;
}

.fa-trash {
  color: rgb(221, 41, 41);
}
.edit-delete {
  margin: 7px 15px;
}
a,
a:visited,
a:hover {
  color: #007bff;
  text-decoration: none;
}
h4 {
  padding: 0 0 25px 0;
}
.exercise-page-boxes {
  display: flex;
  justify-content: space-evenly;
  padding: 5px 15px 5px 5px;
}
.snippet-box {
  font-size: 20px;
  border: 1px solid rgb(0, 0, 0);
  background-color: black;
  color: green;
  width: 500px;
  height: 550px;
}
.typing-box {
  font-size: 20px;
  background: rgb(62, 62, 62);
  color: rgb(255, 255, 255);
  width: 500px;
  height: 550px;
}
.footer {
  height: 60px;
  background: black;
  color: #007bff;
}
