.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.login-box {
  padding: 20px 40px;
}
.exercise-box {
  border: 1px solid black;
  border-radius: 25px;
}
.snippet-txt {
  border: 1px solid rgb(0, 0, 0);
  background-color: black;
  color: green;
  width: 400px;
  height: 400px;
}
.typing-box {
  background: rgb(62, 62, 62);
  color: rgb(255, 255, 255);
  width: 400px;
  height: 400px;
}
.nav-bar {
  background: rgb(33, 37, 41);
  padding: 20px;
  margin: 0px 0px 25px 0px;
}
.exercise-container {
  display: grid;
  grid-template-columns: auto auto;
}
nav {
  display: flex;
  justify-content: space-between;
}
